ENV=development
DEBUG=False

DB__HOST=db
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__DB=notifications

REDIS__HOST=redis
REDIS__PORT=6379

KAFKA__BOOTSTRAP_SERVERS=kafka:9092

# email provider: smtp | mock
EMAIL__PROVIDER=smtp
EMAIL__HOST=mailhog
EMAIL__PORT=1025
EMAIL__USE_TLS=False
EMAIL__FROM_EMAIL=noreply@example.com

# sms provider: mock
SMS__PROVIDER=mock
SMS__API_KEY=

# retry policy
RETRY__MAX_ATTEMPTS=3
RETRY__DELAYS=[5,30,120]

API_HOST=0.0.0.0
API_PORT=8000
